@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin KeyF($anim-name) {
  @-webkit-keyframes #{$anim-name} {
    @content;
  }
  @keyframes #{$anim-name} {
    @content;
  }
}

@mixin breakpoint($point) {
  @if $point == mobille {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $point == small {
    @media (min-width: 481px) and (max-width: 768px) {
      @content;
    }
  } @else if $point == medium {
    @media (min-width: 769px) and (max-width: 1279px) {
      @content;
    }
  } @else if $point == large {
    @media (min-width: 1280px) {
      @content;
    }
  }
}
