.product {
  background-color: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  width: 300px;
  height: 150px;
  position: relative;
  @include prefixer(box-shadow, 10px 10px 10px #ccc, webkit moz);
  .overlay {
    @include overlay;
    background-color: rgba($redColor, 0.4);
    color: #fff;
  }
}
